body {
  font-family: "Fenix", serif;
  width: 100%;
  height: 100%;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.spacing {
  font-weight: bold;
  display: inline-block;
  margin: 4px 4px;
  text-align: center;
  font-size: 24px;
}

#page-body-window {
  position: fixed;
  width: 100%;
  top: 36px;
  bottom: 0px;
  background-color: #101010;
  color: #eeeeee;
}

#page-body-frame {
  padding: 8px 16px;
  width: calc(100% - 32px);
  height: calc(100% - 16px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.console {
  font-family: monospace;
  font-size: 12px;
}

.console .warning {
  color: yellow;
}

.console .error {
  color: red;
}

#header-toolbar {
  position: fixed;
  z-index: 5;
  background-color: darkslategray;
  width: 100%;
  height: 36px;
  color: white;
}

.header-toolbar-elements {
  margin: 4px 8px;
  vertical-align: middle;
  text-align: left;
  display: inline;
}

#header-toolbar .title {
  font-weight: bold;
}

#header-toolbar button {
  margin: 4px 4px;
  height: 24px;
}
